################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/MyFirstRepository/FileContentIndex/04e65dae-8515-4777-86c3-a3f49411aac2.vsidx
